p{
	font-size: 30px;
}

div {
	border-radius: 10px;
	border: 2px solid #6495ed;
	height: 100px;
	width: 120px;
	text-align: center;
	font-family: Garamond;
} 

#b1 {
	display: incline;
	position: relative;
	margin-left: 20px;
} 

#b2 {
	display: incline;
	position: relative;
	margin-left: 50px;
}